.map {
	min-height: 390px;
}

.infoAddress {
	min-height: 215px;
	// border:1px solid red;
	line-height: 1em;
}

.filepond--item {
    width: 150px;
}

.filepond--label-action {
	text-decoration: none;
}

.filepond--image-preview-wrapper {
	display: none;
}

.filepond--file {
	border-radius: 5px;
}


.hidden {
	display:none;
}